<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
	<head>
		<title th:text="${channel.name}"></title>
		<link href="/main.css" rel="stylesheet">
		<script th:inline="javascript">
		<![CDATA[
		    var channelId = [[${channel.channelId}]];
			var user = sessionStorage.getItem("user")
			if (user == null) {
				window.location.href = '/welcome'
			} else {
				user = JSON.parse(sessionStorage.getItem("user"))
			}
		]]>
		</script>
	</head>
	<body class="flex bg-pink-500 justify-center">
		  <div class= "divide-gray-800" th:each="message : ${messages}" th:inline="text">
		  	<span class="z-10">[[${message.user.name}]]: </span>
		  	<span class="shadow-xl">[[${message.text}]]</span>
		  </div>
		<div class="divide-gray-800">
			<textarea class="shadow-xl" rows="3" cols="30" id="messageBox"></textarea>
		</div>
		<script type="text/javascript" src="/channel.js"></script>
	</body>
</html>